<!DOCTYPE html>
<html lang="en" ng-app="cirmanager">
<head>
    <meta charset="utf-8">
    <title>CIR Manager</title>
    <script src="../app/lib/angular/angular.js"></script>
    <script src="../app/lib/angular/angular-resource.js"></script>
    <script src="../app/lib/ui-bootstrap/ui-bootstrap-0.6.0.js"></script>
    <script src="../app/lib/ui-bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="../app/js/app.js"></script>
    <script src="../app/js/controllers.js"></script>
    <script src="../app/js/factories.js"></script>
    <script src="../app/js/filters.js"></script>
    <link rel="stylesheet" href="../app/css/app.css">
    <link rel="stylesheet" href="../app/css/bootstrap.css">
    <link rel="stylesheet" href="../app/css/bootstrap-responsive.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span12"><h4>CIR Manager</h4></div>
    </div>
    <div class="row" ng-controller="CiidCtrl">
        <div class="span12">
            <label class="label">CIID
                <input class="input-xlarge" type="text" ng-model="selected"
                       typeahead="(c.name + ' (' + c.ciid + ')') for c in ciids | filter:$viewValue | limitTo:8"
                       typeahead-on-select="onSelect($item, $model, $label);"/>
            </label>
        </div>
    </div>
    <div class="row" ng-controller="CirListCtrl">
        <div class="span12" ng-show="showCirs">
            <h5>CIRS</h5>
            <table class="table table-bordered">
                <tr class="label-info">
                    <td>CIID</td>
                    <td>CIRID</td>
                    <td>Action</td>
                </tr>
                <tr ng-repeat="cir in cirsForCiid">
                    <td>{{cir.ciid}}</td>
                    <td>{{cir.cirid}}</td>
                    <td><a class="label" href="#">View details »</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>
<footer>
    <p>&copy; spinetrak.net</p>
</footer>
</body>
</html>