<div class="container">
    <div class="row" ng-include=" '/app/partials/ciids/search.htm' "></div>
    <div class="row" ng-controller="CirListCtrl">
        <div ng-show="showCirs">
            <h5>CIRS</h5>
            <pagination boundary-links="true" total-items="totalItems" page="currentPage"
                        items-per-page="itemsPerPage" num-pages="numPages"
                        style="cursor: pointer"></pagination>
            <table class="table table-bordered">
                <thead class="label-info" tooltip="Click on columns to sort"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="right">
                <tr>
                    <th ng-click="sort('ciid')">CIID <i
                            ng-class="{'icon-chevron-up': isSortUp('ciid'), 'icon-chevron-down': isSortDown('ciid')}"></i>
                    </th>
                    <th ng-click="sort('cirid')">CIRID <i
                            ng-class="{'icon-chevron-up': isSortUp('cirid'), 'icon-chevron-down': isSortDown('cirid')}"></i>
                    </th>
                    <th ng-click="sort('cirstatus')">Status <i
                            ng-class="{'icon-chevron-up': isSortUp('cirstatus'), 'icon-chevron-down': isSortDown('cirstatus')}"></i>
                    </th>
                    <th ng-click="sort('createdBy')">Created By <i
                            ng-class="{'icon-chevron-up': isSortUp('createdBy'), 'icon-chevron-down': isSortDown('createdBy')}"></i>
                    </th>
                    <th ng-click="sort('createdOn')">Created On <i
                            ng-class="{'icon-chevron-up': isSortUp('createdOn'), 'icon-chevron-down': isSortDown('createdOn')}"></i>
                    </th>
                    <th ng-click="sort('summary')">Summary <i
                            ng-class="{'icon-chevron-up': isSortUp('summary'), 'icon-chevron-down': isSortDown('summary')}"></i>
                    </th>
                    <th>Edit</th>
                    <th>Approve</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cir in filteredList = (cirsForCiid | orderBy:sortField:reverse | pagination:currentPage:itemsPerPage)">
                    <td>{{cir.ciid}}</td>
                    <td>{{cir.cirid}}</td>
                    <td>{{cir.cirstatus}}</td>
                    <td>{{cir.createdBy | lowercase}}</td>
                    <td>{{cir.createdOn | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{cir.summary}}</td>
                    <td>
                        <a class="btn btn-mini btn-success" href="/cirs/view/{{cir.cirid}}">View</a>
                        <button class="btn btn-mini btn-warning">Edit</button>
                        <button class="btn btn-mini btn-danger">Delete</button>
                    </td>
                    <td>
                        <button class="btn btn-mini btn-success">Approve</button>
                        <button class="btn btn-mini btn-danger">Reject</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <pre>Showing page {{currentPage}}/{{numPages}} for {{totalItems}} items</pre>
        </div>
    </div>
</div>