<div class="row" ng-controller="CirDetailsCtrl">
    <form name="cirForm" class="well well-large">
        <div class="row-fluid well well-small">
            <div class="span6 pull-left">
                <button class="btn btn-mini btn-danger" ng-disabled="!canCancel()" ng-click="cancelCIR()">Cancel
                </button>
                <button class="btn btn-mini btn-danger" ng-disabled="!canReject()" ng-click="rejectCIR()">Reject
                </button>
                <button class="btn btn-mini btn-warning" ng-disabled="!canRevert()" ng-click="revertCIR()">Revert
                    Edits
                </button>
            </div>
            <div class="span6 pull-right">
                <button class="btn btn-mini btn-warning right" ng-disabled="!canEdit()" ng-click="editCIR()">Edit
                </button>
                <button class="btn btn-mini btn-info right" ng-disabled="!canSave()" ng-click="saveCIR()">Save</button>
                <button class="btn btn-mini btn-success right" ng-disabled="!canApprove()" ng-click="approveCIR()">
                    Approve
                </button>
                <button class="btn btn-mini btn-success right" ng-disabled="!canSubmit()" ng-click="submitCIR()">Submit
                </button>
            </div>
        </div>
        <div class="row-fluid well well-small">
            <div class="control-group span2">
                <label class="label label-default">CIID</label>
                <input type="text" size="6" disabled value="{{cir.ciid}}" class="input-block-level">
            </div>
            <div class="control-group span2">
                <label class="label label-default">CIRID</label>
                <input type="text" size="8" disabled value="{{cir.cirid}}" class="input-block-level">
            </div>
            <div class="control-group span4">
                <label class="label label-default">Created On</label>
                <input type="text" size="17" disabled value="{{cir.createdOn | date: 'yyyy-MMM-dd HH:mm'}}"
                       class="input-block-level">
            </div>
            <div class="control-group span4">
                <label class="label label-default">Created By</label>
                <input type="text" size="30" disabled value="{{cir.createdBy}}" class="input-block-level">
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span9">
                <label class="label label-info">Summary</label>
                <input type="text" ng-model="cir.summary" size="255" required class="input-block-level">
            </div>
            <div class="control-group span3">
                <label class="label label-default">Status</label>
                <input type="text" size="20" disabled value="{{cir.cirstatus}}" class="input-block-level">
            </div>
        </div>
        <div class="row-fluid well well-small">
            <div class="span6 pull-left">
                <button class="btn btn-mini btn-danger" ng-disabled="!canCancel()" ng-click="cancelCIR()">Cancel
                </button>
                <button class="btn btn-mini btn-danger" ng-disabled="!canReject()" ng-click="rejectCIR()">Reject
                </button>
                <button class="btn btn-mini btn-warning" ng-disabled="!canRevert()" ng-click="revertCIR()">Revert
                    Edits
                </button>
            </div>
            <div class="span6 pull-right">
                <button class="btn btn-mini btn-warning right" ng-disabled="!canEdit()" ng-click="editCIR()">Edit
                </button>
                <button class="btn btn-mini btn-info right" ng-disabled="!canSave()" ng-click="saveCIR()">Save</button>
                <button class="btn btn-mini btn-success right" ng-disabled="!canApprove()" ng-click="approveCIR()">
                Approve
                </button>
                <button class="btn btn-mini btn-success right" ng-disabled="!canSubmit()" ng-click="submitCIR()">Submit
                </button>
            </div>
        </div>
    </form>
</div>




